In [14]:
#Adicionando os imports

import pandas as pd
import numpy as np

In [15]:
#Leitura do arquivo

dados = pd.read_csv("desafio1.csv")

In [16]:
dados.head(10)

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1
5,6,db5cf32c3fbc7c5d8f8313afca1d099de6dc055f,a596384ca70664af4c5fac9f935cff186b8e8bc0,645,RS,M,44,8,113755.78,2,1,0
6,7,8f3cc64a0a84bab38fefb030f09757d0cbf03bb2,abec3e525ab40e45975c91d4fa2bc7b318d93de4,822,SC,M,50,7,0.00,2,1,1
7,8,6704b822c203e2dda9f225dfc4f1bed2ae9044e6,336b42483e6a17f48eb040a251b5d6e64d1351a9,376,PR,F,29,4,115046.74,4,1,0
8,9,35f41954a87f722a3960e5fa8ce898a09398a564,53a417796c777851003b3f2431e8eef5625ec15b,501,SC,M,44,4,142051.07,2,0,1
9,10,f110be36fc6171a7da472b9cbac8698df880aac6,b89d09fc7719cb3c4a87e4a61cb87b3465e9d8ff,684,SC,M,27,2,134603.88,1,1,1

In [17]:
# Média por usuário

dados.groupby('id')['pontuacao_credito'].mean().head(5)

id
001acea53bf2dba35bef7e61ca2ead7792aab9c1    748
0027a807d327154b6ae73582d7c5bb96fd946744    615
002ba5177a58900b2ea321f708de21dd59645dd7    496
0036a94840c16e3a6d05dffe10947880be99f6ef    626
00446d0dd97d83ffeca39c8902a52d1ddd76d0a7    598
Name: pontuacao_credito, dtype: int64

In [18]:
# Média por estado

dados.groupby('estado_residencia')['pontuacao_credito'].mean()

estado_residencia
PR    648.961294
RS    651.105143
SC    649.537653
Name: pontuacao_credito, dtype: float64

In [19]:
# Mediana por estado

dados.groupby('estado_residencia')['pontuacao_credito'].median()

estado_residencia
PR    650
RS    650
SC    653
Name: pontuacao_credito, dtype: int64

In [20]:
# Desvio padrão por usuário

dados.groupby('estado_residencia')['pontuacao_credito'].std().head(5)

estado_residencia
PR    98.607186
RS    95.136598
SC    97.233493
Name: pontuacao_credito, dtype: float64

In [21]:
# Desvio padrão por usuário

dados.groupby('estado_residencia')['pontuacao_credito'].apply(lambda x: x.mode()[0])

estado_residencia
PR    850
RS    850
SC    850
Name: pontuacao_credito, dtype: int64

In [22]:
# Formatação dos dados

# "moda": 0.0
# "mediana": 0.0
# "media": 0.0
# "desvio_padrao": 0.0

dfformatado = dados.groupby('estado_residencia')['pontuacao_credito'].agg(['mean','median', 'std', lambda x: x.mode()[0]]).round(2).rename(columns={'median': 'mediana', 'mean': 'media', 'std': 'desvio_padrao', '<lambda>': 'moda'})

dfformatado

                    media  mediana  desvio_padrao  moda
estado_residencia
PR                 648.96      650          98.61   850
RS                 651.11      650          95.14   850
SC                 649.54      653          97.23   850

In [23]:
# Registrando no aquivo

dfformatado.to_json(path_or_buf='submission.json', orient='index')